@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック";
  font-weight: 400;
}

h1 {
  letter-spacing: 0.13em;
  font-size: 20px;
  font-weight: 700;
}

h2 {
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: 18px;
}

p {
  letter-spacing: 0.05em;
  font-size: 16px;
}

h3{
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: 16px;
}

@media (min-width: 414px) {
  .topCntHeader {
    height: 200px;
    max-height: 200px;
    background-image: url("/top/topImageTablet.png");
  }
}

@media (max-width: 413px) {
  .topCntHeader {
    height: 200px;
    background-image: url("/top/topImage.png");
  }
}

.topCntHeader {
  width: 100%;
  background-size: cover;
  background-position: center;
}
